<div class="container">
  <hr>
  <h2>About Us</h2>
  <hr>
  <p>Opened in September of 2017, High Fives Sports Pub is the place to be in Bells Corners!
    We have the largest selection of big screen TVs in the area and boast an atmosphere that is Sports based but convenient and appropriate for all ages
    Our menu carries a wide array of mouth watering items that promise not to disappoint and are suitable for every palate.
    Completely renovated and under new management, we offer breakfast starting at 7pm daily, following with lunch and dinner service. We're open until 2am daily (closed at 1am Sunday nights) and our kitchen remains open for orders until midnight!
  </p>
  <hr>
</div>
<div class="social">
    <i class="fab fa-facebook"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-twitter"></i>
    
</div>
<footer>
  <hr>
  web design by skybride <br> updated 2019
</footer>